@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  
  font-family: 'Poppins', sans-serif;
}
body{
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #9032bb;
}
#container{
  width: 95%;
  height: 95%;

  background-color: #fff;
  border-radius: 5px;
}
#title{
  margin: 10%;
  margin-top: 15%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: #9032bb;
}
#inputContainer{
  margin: 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputLine{
  margin: 10px;
  padding: 5px;

  width: 90%;

  display: flex;
  align-items: center;

  border: 2px solid #9032bb;
  border-radius: 5px;
}
#inputContainer input{
  border: 0;
  outline: 0;
}
.inputLinePass{
  margin: 10px;
  padding: 5px;

  width: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 2px solid #9032bb;
  border-radius: 5px;
}
#submit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#log{
  display: flex;
  justify-content: center;
  align-items: center;
}
#log i{
  margin: 5px;
  padding: 10px;

  color: #fff;
  background-color: #9032bb;
  border-radius: 50%;
}
#submit button{
  width: 40%;
  padding: 5px;

  border: 0;
  border-radius: 50px;
  background-color: #9032bb;
  color: #fff;
}
#submit p{
  font-size: small;
}
a{
  color: #9032bb;
  text-decoration: none;
  font-size: small; 
}
/* Adicione essas regras ao seu CSS */

#container {
  opacity: 0; /* Defina a opacidade inicial como 0 para tornar a div invisível */
  animation: fadeIn 0.3s ease-in-out forwards; /* A animação ocorrerá apenas uma vez e a última fase (opacity: 1) será mantida */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Comece com uma opacidade de 0 */
  }
  to {
    opacity: 1; /* Termine com uma opacidade de 1 para tornar a div completamente visível */
  }
}
