@media  (min-width: 800px){
    body{
        height: 100vh;
        width: 100vw;

        display: flex;
        align-items: initial;
        justify-content: initial;

        background-color: #9032bb;
    }
    #container{
        width: 50%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #title{
        margin: 5%;
    }
    #imgContainer{
        display: block;       
    }
    img{
        height: 90%;
        width: 100%;
    }
}
@media  (min-width: 500px){
    #title{
        margin: 10%;
    }
}